a {
    text-decoration: none;
    margin-top: 80px;
    color: #fff;
}

/* CSS retirado de https://getcssscan.com/css-buttons-examples */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;

}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
/* CSS retirado de https://getcssscan.com/css-buttons-examples */

.pesquisar input {
    width: 97.5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.pesquisar {
    min-width: 60%;
    width: 100%;
    max-width: 130%;
    margin-right: 20px;
}

#filtro {
    display: flex;
    justify-content: space-between;
}

#pesquisar-filtro {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff; 
    padding: 20px;
    font-size: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.add-titulo, .add-descricao, .add-outros {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

#sec-adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    color: #fff;
    background: #ACC0FD;
    background: -moz-linear-gradient(top, #ACC0FD 0%, #4E9FD9 68%, #1B78A4 100%);
    background: -webkit-linear-gradient(top, #ACC0FD 0%,#4E9FD9 68%,#1B78A4 100%);
    background: linear-gradient(to bottom, #ACC0FD 0%,#4E9FD9 68%,#1B78A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302FA4', endColorstr='#1B78A4',GradientType=0 );
}

.principal {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 30%;
    -webkit-box-shadow: 1px 5px 12px 4px rgba(0,28,255,0.66); 
    box-shadow: 1px 5px 12px 4px rgba(0,28,255,0.66);
}

#sec-lista {
    width: 70%;
    background: #2f2f2f53;
    width: 100%;
    height: 100%;
    border: #291ba4d1 solid 1px;
    border-radius: 10px;
}

header {
    font-size: clamp(0.5rem, 2vw, 1rem);
    display: flex;
    text-align: center;
    background: #479FAE;
    background: -moz-linear-gradient(top, #479FAE 0%, #ACC0FD 68%, #ACC0FD 100%);
    background: -webkit-linear-gradient(top, #479FAE 0%,#ACC0FD 68%,#ACC0FD 100%);
    background: linear-gradient(to bottom, #479FAE 0%,#ACC0FD 68%,#ACC0FD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACC0FD', endColorstr='#479FAE',GradientType=0 );
    width: 100%;
    color: #fff;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 20px;
    gap: 30px;
}

footer {
    display: flex;
    text-align: center;
    background: #ACC0FD;
    background: -moz-linear-gradient(top, #1B78A4 0%, #1B78A4 68%, #2755A2 100%);
    background: -webkit-linear-gradient(top, #1B78A4 0%,#1B78A4 68%,#2755A2 100%);
    background: linear-gradient(to bottom, #1B78A4 0%,#1B78A4 68%,#2755A2 100%);
    width: 100%;
    color: #fff;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #83C8CE;
    background: -moz-linear-gradient(top, #889CC5 0%, #83C8CE 68%, #479FAE 100%);
    background: -webkit-linear-gradient(top, #889CC5 0%, #83C8CE 68%, #479FAE 100%);
    background: linear-gradient(to bottom, #889CC5 0%, #83C8CE 68%, #479FAE 100%);
}