/* CSS retirado de https://getcssscan.com/css-buttons-examples */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
/* CSS retirado de https://getcssscan.com/css-buttons-examples */

.pesquisar input {
    width: 97%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.pesquisar {
    width: 81.5%;
}

#filtro {
    display: flex;
    justify-content: space-between;
}

.coluna-filtro-lista {
    width: 70%;
}

#sec-adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#pesquisar-filtro {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff; 
    padding: 20px;
    font-size: 20px;
    width: 64%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#titulo-da-pagina {
    text-align: center;
    margin: 40px 0 0 0;
}

.box-titulo {
    background-color: #333;
    color: #fff;
    margin-left: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #83C8CE;
    background: -moz-linear-gradient(top, #83C8CE 0%, #1B78A4 68%, #2755A2 100%);
    background: -webkit-linear-gradient(top, #83C8CE 0%, #1B78A4 68%, #2755A2 100%);
    background: linear-gradient(to bottom, #83C8CE 0%, #1B78A4 68%, #2755A2 100%);
}